.login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 23vh;
    background-color: rgba(88, 150, 201, 0.226);
    padding-top: 35px;
    border-radius: 9px;
    box-shadow: 6px 6px 6px rgb(88, 151, 201);
}

.login-div svg{
    width: 60px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    font-weight: bold;
    color: rgb(9, 88, 167);
}

form input{
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: -18px;
}

form button{
    width: 100px;
    padding: 5px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: rgba(88, 150, 201, 0.575);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

form button:hover{
    background-color: rgb(88, 151, 201);
}

form span{
    display: flex;
    align-items: center;
}