/* General */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notification{
    background-color: green;
    color: white;
    font-weight:bold;
    width: 200px;
    text-align: center;
    margin: auto;
    position: fixed; 
    top: 0;
    margin-left: 44%;
}

nav{
    background-color: rgb(88, 151, 201);
    display: flex;
    gap: 50vw;
    align-items: center;
    justify-content: center;
}

nav img{
    width: 200px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: rgb(23, 52, 81);
    padding: 5vh 1vw 0;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    background-color: rgba(23, 52, 81, 0.308);
}

footer{
    background-color: rgb(9, 88, 167);
    color: #fff;
    padding: 60px 0;
    margin-top: 20px;
}

footer img{
    width: 500px;
}

.footer-container{
    width: 1230px;
    margin: 0 auto;
}

.footer-container > div{
    display: flex;
    gap: 230px;
    align-items: center;
    justify-content: center;
}

footer h4{
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

/* General ends */

/* Index */

.dashboard{
    margin-top: 40px;
    margin-left: 9vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22vw;
    row-gap: 40px;
}

.dashboard a{
    text-decoration: none;
}

.dashboard-child{
    width: 25vw;
    height: 20vh;
    margin-bottom: 40px;
    background-color: rgb(88, 151, 201);
}

.dashboard-child > div{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    color: rgb(23, 52, 81);
    padding-top: 3vh;
}

.dashboard-child svg{
    fill: rgb(23, 52, 81);
    width: 40px;
}

.recent-NCR{
    margin-left: 50px;
}

.recent-NCR table{
    border: 2px solid rgb(88, 151, 201);
    border-spacing: 0;
}

.recent-NCR td,th{
    padding-left: 35px;
    padding-right: 35px;
}

.recent-NCR tr:nth-child(2),
.recent-NCR tr:nth-child(4),
.recent-NCR tr:nth-child(6),
.recent-NCR thead{
    background-color: rgb(88, 151, 201);
}

/* Index Ends */


/* Ncrlog */

.login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 23vh;
    background-color: rgba(88, 150, 201, 0.226);
    padding-top: 35px;
    border-radius: 9px;
    box-shadow: 6px 6px 6px rgb(88, 151, 201);
}

.login-div svg{
    width: 60px;
}

form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

form label{
    font-weight: bold;
    color: rgb(9, 88, 167);
}

form input{
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: -18px;
}

form button{
    width: 100px;
    padding: 5px 0;
    border-radius: 4px;
    /* border: 1px solid black; */
    border: none;
    cursor: pointer;
    background-color: rgba(88, 150, 201, 0.575);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

form button:hover{
    background-color: rgb(88, 151, 201);
}

form span{
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Ncrlog ends */