/* sec-color #5897c9 */

/* pri-color #173451 */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(88, 151, 201);
    width: 100vw;
    display: flex;
    gap: 50vw;
    align-items: center;
    justify-content: center;
}

nav img{
    width: 350px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: rgb(23, 52, 81);
    padding: 5px 10px 0;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    background-color: rgba(23, 52, 81, 0.308);
}