/* sec-color #5897c9 */

/* pri-color #173451 */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #173451;
    width: 100vw;
}

.nav-div{
    display: flex;
    align-items: flex-end;
}

.nav-div img{
    width: 50px;
}